body {
  background-color: #004246;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.filters {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.custom-select {
  width: 250px;
  font-size: 16px;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.images-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.image-container {
  width: calc(25% - 20px);
  min-width: 200px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.image-container:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-container .tooltip {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.custom-select__control {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  font-size: 14px;
}

.custom-select__menu {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-select__option--is-selected {
  background-color: #007bff;
  color: #fff;
}

.custom-select__option--is-focused {
  background-color: #e9ecef;
}

.custom-select__placeholder {
  color: #6c757d;
}

.custom-select__single-value {
  color: #495057;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content img {
  max-width: 100%;
  max-height: 80vh;
  height: auto;
  border-radius: 8px;
}

.modal-content .tooltip {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.modal-content:hover .tooltip {
  visibility: visible;
  opacity: 1;
}